<%
this.adminPage = 'account_generation';
%>
<% include admin_header %>

<div class="ui form">
    <div >
        <label style="line-height: 37.8px; font-weight: bold; ">用户名前缀</label>
        <input type="text" id="prefix" placeholder="nflser_">
    </div>

    <div style="margin-top: 10px">
        <label style="line-height: 37.8px; font-weight: bold; ">生成数量</label>
        <input type="number" id="num" value="10">
    </div>

    <div style="margin-top: 10px">
        <label style="line-height: 37.8px; font-weight: bold; "> Group ID</label>
        <input type="text" id="group_id" value="0">
    </div>

    <div style="margin-top: 10px">
        <label style="line-height: 37.8px; font-weight: bold; "> 生成密码的长度</label>
        <input type="number" id="password_length" value="10">
    </div>

    <div style="margin-top: 10px">
        <label style="line-height: 37.8px; font-weight: bold; "> 账号过期时间 </label>
        <input type="text" id="end_time" value="<%= syzoj.utils.formatDate(syzoj.utils.getCurrentDate())%>">
    </div>

    <div style="margin-top: 10px">
        <label style="line-height: 37.8px; font-weight: bold; "> 起始编号 </label>
        <input type="number" id="start_id" value="1">
    </div>

    <div style="margin-top: 10px">
        <label style="line-height: 37.8px; font-weight: bold; "> 昵 称 </label>
        <textarea id="nickname_list" rows="10"></textarea>
    </div>

    <div style="margin-top: 20px">
        <button type="button" class="ui labeled icon button" onclick="generate()"><i class="ui edit icon"></i>生成账号列表</button>
    </div>

    <div id="account_list" style="margin-top: 20px;display: none">
        <div style="text-align: center; color: red"> 生成信息 </div>

        <div style="margin-top: 10px">
            <label style="line-height: 37.8px; font-weight: bold; "> 密码生成列表 </label>
            <textarea id="password_list"  rows="10"></textarea>
        </div>


        <table class="ui aligned table celled">
            <thead>
                <tr>
                    <th class="one wide">用户名</th>
                    <th class="one wide">密码</th>
                    <th class="one wide">Group ID</th>
                    <th class="one wide">昵称列表</th>
                    <th class="one wide">注册结果</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>


        <div style="text-align: center; margin-top: 20px">
            <button class="ui blue labeled icon button" onclick="submit()"><i class="ui edit icon"></i>提交</button>
        </div>

    </div>


</div>

<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>

<script>
    function random_str(len = 8) {
        let chars =
            "ABCDEFGHIJKMNPQRSTUVWXYZabcdefghijkmnprstwxyz0123456789".split("");
        let s = "";
        for (let i = 0; i < len; i++) {
            s += chars[Math.floor(Math.random() * chars.length)];
        }
        return s
    }

    function generate() {
        let num = parseInt($('#num').val())
        if(!num || num <= 0 || num >= 1000) {
            alert("生成账号的数量不能为 0 且不超过 1000")
            return
        }

        let group_id = $('#group_id').val()
        if(!group_id || group_id === '') {
            alert("请输入 Group ID")
            return
        }

        let password_length = $('#password_length').val()
        if(password_length <= 0 ||  password_length > 16) {
            alert("密码长度不能为空或者过长(>16)")
            return
        }

        let nickname_list = $('#nickname_list').val().match(/[^\n]+/g)
        if(!nickname_list) nickname_list = [];
        nickname_list = nickname_list.map(item => item.trim())

        let password_list = ''

        let prefix = $('#prefix').val()

        let start_id = parseInt($('#start_id').val())
        console.log(start_id + num)
        if (start_id + num - 1 > 999) {
            alert("用户名编号不能超过 1000， 请重新设置起始序号 和 账户数量");
            return;
        }

        $('#account_list').show()

        let $tbody = $('#tbody')
        $tbody.empty()

        for(let i = 0; i < num; ++i) {
            let pwd = random_str(password_length)
            password_list += pwd + "\n"
            let $tr = $("<tr></tr>")
            let td0 = $("<td></td>").append($("<input>").attr("id", "username_" + i).val(prefix + ("000" + (i + start_id)).substr(-3)))
            let td1 = $("<td></td>").append($("<input>").attr("id", "password_" + i).val(pwd))
            let td2 = $("<td></td>").append($("<input>").attr("id", "group_id_" + i).val(group_id))
            let td3 = $("<td></td>").append($("<input>").attr("id", "nickname_" + i).val(i < nickname_list.length ? nickname_list[i] : '备用账号' ))
            let td4 = $("<td></td>").append($("<div></div>").attr("id", "result_" + i).text("尚未提交"))
            $tr.append(td0).append(td1).append(td2).append(td3).append(td4)
            $tbody.append($tr)
        }
        $('#password_list').val(password_list)
    }

    function submit() {
        let end_time = (new Date($('#end_time').val())).getTime()
        if(isNaN(end_time)) {
            alert("日期设置不合法")
            return;
        }
        end_time = parseInt(end_time / 1000)
        let accounts = []
        let num = $('#num').val()
        for(let i = 0; i < num; ++i) {
            accounts.push({
                username: $("#username_" + i).val(),
                password: md5($("#password_" + i).val() + "syzoj2_xxx"),
                group_id: $("#group_id_" + i).val(),
                nickname: $("#nickname_" + i).val(),
            })
        }
        $.post("/admin/account_generation", {accounts, end_time}, (res, status) => {
            if(status === "success") {
                res.forEach((item, idx) => {
                    if(item.result.startsWith("YES")) {
                        $('#result_' + idx).css("color", "green").text("注册成功")
                    } else {
                        $('#result_' + idx).css("color", "red").text("注册失败， error：" + item.result.split("error=")[1])
                    }
                })
            }
        });
    }
</script>

<% include admin_footer %>
