<% this.title = '题解 - 洛谷'; %>
<% include header %>
<style type="text/css" xmlns:style="http://www.w3.org/1999/xhtml">
.small{
  font-size: 0.7em;
}
</style>
<div class="padding">
  <%- solutions %>
</div>
<% include footer %>