<% this.title = '编辑标签' %>
<% include header %>

<div class="padding">
  <h2><%= problem.id + "." + problem.title%> 标签编辑 </h2>

  <select class="ui fluid search dropdown" multiple="" id="search_tags">
    <% for (let tag of tags) { %>
      <option value="<%= tag.id %>" selected> <%= tag.name %> </option>
    <% } %>
  </select>
    <div style="margin-top: 20px;text-align: center">
      <button class="ui labeled submit icon button" onclick="update_tags()">
        <i class="icon edit"></i> 提交
      </button>
    </div>
  <script>
    const update_tags = () => {
      $.post("/problem/<%=problem.id%>/tag/update", {tags: $('#search_tags').val()}, res => {
        if(res.err) alert(`提交失败: ${res.err}`); else alert("提交成功")
      })
    }
  </script>
  <script>
    $(function () {
      $('#search_tags')
          .dropdown({
            debug: true,
            apiSettings: {
              url: '/api/v2/search/tags/{query}',
              onResponse: function (response) {
                var a = $('#search_tags').val().map(function (x) { return parseInt(x) });
                if (response.results) {
                  response.results = response.results.filter(function(x) { return !a.includes(parseInt(x.value));});
                }
                return response;
              },
              cache: false
            }
          });
    });
  </script>

</div>
<% include footer %>
