

<div class="ui modal" id="__modal" style="width: 80%;height: 84%;" >


    <div class="header" id="forCode" style="display: flex">
        <div> 代码 </div>
        <a style="margin-left: 5px;text-decoration:underline" > # </a>
    </div>

    <div class="header" id="forList" style="display: none"> 提交列表 </div>


    <div class="header" style="display: none" id="forBoth">
        <div>
            <div id="ListHeader" class="ui checkbox" style="display: flex; align-items: center">
                <input id="ListType" type="checkbox"  onchange="__showList()">
                <label style="font-size: 16px">我的提交</label>
                <a style="margin-left: 5px;text-decoration:underline" > # </a>
            </div>
            <div id="CodeHeader" style="font-size: 16px; display: none;text-decoration: underline">
                <a  href="javascript:;"  onclick="__showList()"  > 查看提交列表 </a>
                <a id="__a" style="margin-left: 5px;text-decoration:underline" > # </a>
            </div>

        </div>
    </div>

    <div class="content" style="height: 88%">
        <iframe name="__iframe" id="__iframe" width="100%" height="100%" style="border: medium none"></iframe>
    </div>
    <div class="actions">
        <button class="ui cancel button primary"> 关闭 </button>
    </div>
</div>

<script>
let __type = 0
let __getListLink = undefined
let __getCodeLink = undefined
function initModal(type, getListLink = undefined, getCodeLink = undefined) { // 0  forCode  , 1 forList  ,  2 forBoth
    __type = type
    if(type !== 0) $('#forCode').hide()
    if(type === 1) $('#forList').show()
    else if(type === 2) $('#forBoth').show()

    __getListLink = getListLink
    __getCodeLink = getCodeLink
}

function __showSubmissionList(link, forSelf = false) {
    if(link.indexOf('?') === -1) link += '?'; else link += '&'
    if(forSelf) {
        link += 'submitter=' + '<%= res.locals.user.username %>' + '&'
    }
    $('#ListHeader a').attr('href', link)
    link += 'no_jump=true'
    __show_iframe(link)
    $('#__modal').modal('show');
}

async function __prepareForBothModal(AtList = false) {
    if(AtList) {
        $('#ListHeader').show()
        $('#CodeHeader').hide()
    } else {
        $('#CodeHeader').show()
        $('#ListHeader').hide()
    }
}

function __showCode(event = undefined, link = undefined, username = undefined) {
    if(link === undefined && __getCodeLink) link = __getCodeLink()
    if (event && event.ctrlKey) {
        window.open(link, '_blank');
        return;
    }
    if(__type === 0) {
        if(link !== undefined) $('#forCode a').attr('href', link);
        if(username)  $('#forCode div').text(username)
    } else { // __type = 2
        __prepareForBothModal(false)
        if(link !== undefined) $('#__a').attr('href', link);
    }
    $('#__modal').modal('show');
    if(link !== undefined) {
        if(link.indexOf('?') === -1) link += '?'; else link += '&'
        link += 'no_jump=true'
        __show_iframe(link)
    }
}

function __showList(link = undefined) {
    let forSelf = false
    if(__type === 2) {
        __prepareForBothModal(true);
        forSelf = $('#ListType').is(":checked")
    }
    if(link === undefined && __getListLink) link = __getListLink()
    if(link !== undefined) __showSubmissionList(link, forSelf)
}

function __show_iframe(link) {
    if(link) {
        setTimeout(() => $('#__iframe').attr('src', link), 10)
    }
}
</script>