<% this.title = user.username + ' - 用户'; %>

<% include header %>

<div class="padding" >
    <h1 style="margin-bottom: 20px"> <span style="color: red"> <%= show_user.username%>  </span> - <span style="color: red"> <%= show_user.nickname%>  </span>解题统计分析 </h1>
    <% include problem_statistics.ejs %>
</div>
<% include footer %>
