<% this.title = 'vj log' %>
<% include header %>
<div style="font-size: 20px">
    <div>Codeforces : </div>

    <div class="ui font-content left aligned" style="margin-top: 20px"><%- info.Codeforces %></div>


</div>

<% include footer %>
